include ../mixins/edit_modal_mixin


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-user", "Edit User Metrics")
  input(type="hidden" name="form_name" value="user_metrics")

  div.small-label AVG DAU
  input(
    type="text"
    placeholder="Add AVG DAU"
    name="avg_dau"
    autocomplete="off"
    value=dataEntered(user_metrics.avg_dau) ? user_metrics.avg_dau[0].value : undefined)

  div.small-label AVG MAU
  input(
    type="text"
    placeholder="Add AVG MAU"
    name="avg_mau"
    autocomplete="off"
    value=dataEntered(user_metrics.avg_mau) ? user_metrics.avg_mau[0].value : undefined)

  div.small-label Churn
  input(
    type="text"
    placeholder="Add churn"
    name="churn"
    autocomplete="off"
    value=dataEntered(user_metrics.churn) ? user_metrics.churn[0].value : undefined)



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-user-dau", "Edit AVG DAU")
  input(type="hidden" name="form_name" value="user_metrics")

  div.small-label AVG DAU
  input(
    type="text"
    placeholder="Add AVG DAU"
    name="avg_dau"
    autocomplete="off"
    value=dataEntered(user_metrics.avg_dau) ? user_metrics.avg_dau[0].value : undefined)



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-user-mau", "Edit AVG MAU")
  input(type="hidden" name="form_name" value="user_metrics")

  div.small-label AVG MAU
  input(
    type="text"
    placeholder="Add AVG MAU"
    name="avg_mau"
    autocomplete="off"
    value=dataEntered(user_metrics.avg_mau) ? user_metrics.avg_mau[0].value : undefined)



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-user-churn", "Edit Churn")
  input(type="hidden" name="form_name" value="user_metrics")

  div.small-label Churn
  input(
    type="text"
    placeholder="Add churn"
    name="churn"
    autocomplete="off"
    value=dataEntered(user_metrics.churn) ? user_metrics.churn[0].value : undefined)