include ../mixins/edit_modal_mixin


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-gross-burn", "Add")
  input(type="hidden" name="form_name" value="operational")

  div.small-label Gross Burn
  input(
    type="text"
    placeholder="Add gross burn"
    name="gross_burn"
    autocomplete="off")
  .inline-input-container
    div.small-label Quarter
    input(
      type="text"
      placeholder="1-4"
      name="date"
      autocomplete="off")
  .inline-input-container
    div.small-label Year
    input(
      type="text"
      name="year"
      autocomplete="off")



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-net-burn", "Add")
  input(type="hidden" name="form_name" value="operational")

  div.small-label Net Burn
  input(
    type="text"
    placeholder="Add net burn"
    name="net_burn"
    autocomplete="off")
  .inline-input-container
    div.small-label Quarter
    input(
      type="text"
      placeholder="1-4"
      name="date"
      autocomplete="off")
  .inline-input-container
    div.small-label Year
    input(
      type="text"
      name="year"
      autocomplete="off")



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-revenue", "Add")
  input(type="hidden" name="form_name" value="operational")

  div.small-label Revenue
  input(
    type="text"
    placeholder="Add revenue"
    name="revenue"
    autocomplete="off")
  .inline-input-container
    div.small-label Quarter
    input(
      type="text"
      placeholder="1-4"
      name="date"
      autocomplete="off")
  .inline-input-container
    div.small-label Year
    input(
      type="text"
      name="year"
      autocomplete="off")



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-head-count", "Add")
  input(type="hidden" name="form_name" value="operational")

  div.small-label Head Count
  input(
    type="text"
    placeholder="Add head count"
    name="head_count"
    autocomplete="off")
  .inline-input-container
    div.small-label Quarter
    input(
      type="text"
      placeholder="1-4"
      name="date"
      autocomplete="off")
  .inline-input-container
    div.small-label Year
    input(
      type="text"
      name="year"
      autocomplete="off")