include ../mixins/edit_modal_mixin


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics", "Edit Unit Economics")
  input(type="hidden" name="form_name" value="economics")

  div.small-label LTV
  input(
    type="text"
    placeholder="Add LTV"
    name="ltv"
    autocomplete="off"
    value= (economics.ltv.length > 0) ? economics.ltv[0].value : undefined)

  div.small-label Lifetime Estimate
  input(
    type="text"
    placeholder="Add lifetime est."
    name="lifetime_est"
    autocomplete="off"
    value= (economics.lifetime_est.length > 0) ? economics.lifetime_est[0].value : undefined)

  div.small-label CAC
  input(
    type="text"
    placeholder="Add CAC"
    name="cac"
    autocomplete="off"
    value= (economics.cac.length > 0) ? economics.cac[0].value : undefined)

  div.small-label ASP
  input(
    type="text"
    placeholder="Add ASP"
    name="asp"
    autocomplete="off"
    value= (economics.asp.length > 0) ? economics.asp[0].value : undefined)

  div.small-label GM %
  input(
    type="text"
    placeholder="Add GM %"
    name="gm_percentage"
    autocomplete="off"
    value= (economics.gm_percentage.length > 0) ? economics.gm_percentage[0].value : undefined)



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-ltv", "Edit LTV")
  input(type="hidden" name="form_name" value="economics")

  div.small-label LTV
  input(
    type="text"
    placeholder="Add LTV"
    name="ltv"
    autocomplete="off"
    value= (economics.ltv.length > 0) ? economics.ltv[0].value : undefined)



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-lifetime-est", "Edit Lifetime Est.")
  input(type="hidden" name="form_name" value="economics")

  div.small-label Lifetime Estimate
  input(
    type="text"
    placeholder="Add lifetime est."
    name="lifetime_est"
    autocomplete="off"
    value= (economics.lifetime_est.length > 0) ? economics.lifetime_est[0].value : undefined)



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-cac", "Edit CAC")
  input(type="hidden" name="form_name" value="economics")

  div.small-label CAC
  input(
    type="text"
    placeholder="Add CAC"
    name="cac"
    autocomplete="off"
    value= (economics.cac.length > 0) ? economics.cac[0].value : undefined)



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-asp", "Edit ASP")
  input(type="hidden" name="form_name" value="economics")

  div.small-label ASP
  input(
    type="text"
    placeholder="Add ASP"
    name="asp"
    autocomplete="off"
    value= (economics.asp.length > 0) ? economics.asp[0].value : undefined)



+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-gm", "Edit GM %")
  input(type="hidden" name="form_name" value="economics")

  div.small-label GM %
  input(
    type="text"
    placeholder="Add GM %"
    name="gm_percentage"
    autocomplete="off"
    value= (economics.gm_percentage.length > 0) ? economics.gm_percentage[0].value : undefined)