//- //- Currently not implemented and thus commented out
//- portfolio-sub-toolbar
//-   .sort-btn Cash
//-   .sort-btn Revenue
//-   .sort-btn Days of burn
//-   .sort-btn Total funding

.portfolio-table
  each c, i in companies
    if (c.username != 'admin')

        //- Build class(es) to tag each owner
        - var owners_class = ''
        if (c.owners == undefined  ||  c.owners == []  ||  c.owners == '[]')
          - owners_class = 'none';
        else          
          each o in JSON.parse(c.owners)
            - owners_class += o + ' '

        a.mix(class=owners_class  data-name=c.username  href="../portfolio/#{c.permalink}")

          .card-header
            if (c.profile && c.profile.img_path)
              img(src=c.profile.img_path)
            else
              img(src='../assets/images/placeholder.png')

          .card-body
            div.hidden-on-grid
              .small-label Name
              .card-info #{c.username}
            div
              .small-label Cash
              .card-info 
                if c.operational.cash.length > 0
                  | #{usd(c.operational.cash[0].value)}
                else
                  .faded No data
            div
              .small-label Revenue
              .card-info
                if c.operational.revenue.length > 0
                  | #{usd(c.operational.revenue[0].value)}
                else
                  .faded No data
            div.hidden-on-grid
              .small-label Days of burn
              .card-info
                if (c.operational.cash.length > 0  &&  c.operational.gross_burn.length > 0)
                  - var days_of_burn = Math.floor(c.operational.cash[0].value/(c.operational.gross_burn[0].value/(3 * 90)))
                if days_of_burn
                  | #{days_of_burn}
                else
                  .faded No data
            div.hidden-on-grid
              .small-label Total funding
              .card-info 
                if c.profile && c.profile.total_funding
                  | $#{c.profile.total_funding}
                else
                  .faded No data