include ../mixins/edit_modal_mixin

+edit_modal("edit-info", "Edit Info")
  input(type="text"  placeholder="Add categories"  name="categories"  autocomplete="off" value=p.categories)
  input(type="text"  placeholder="Add founders"  name="founders"  autocomplete="off" value=p.founders)
  input(type="text"  placeholder="Add date founded"  name="founded_on"  autocomplete="off" value=p.founded_on)
  input(type="text"  placeholder="Add total funding"  name="funding"  autocomplete="off" value=p.funding)
  input(type="text"  placeholder="Add homepage url"  name="homepage_url"  autocomplete="off" value=p.homepage_url)