include ../mixins/edit_modal_mixin

+edit_modal("edit-info", "Edit Info")
  div.small-label Categories
  input(type="text"  placeholder="Add categories"  name="categories"  autocomplete="off" value=p.categories)

  div.small-label Founders
  input(type="text"  placeholder="Add founders"  name="founders"  autocomplete="off" value=p.founders)

  div.small-label Date founded
  input(type="text"  placeholder="Add date founded"  name="founded_on"  autocomplete="off" value=p.founded_on)

  div.small-label Funding
  input(type="text"  placeholder="Add total funding"  name="funding"  autocomplete="off" value=p.funding)

  div.small-label Homepage url
  input(type="text"  placeholder="Add homepage url"  name="homepage_url"  autocomplete="off" value=p.homepage_url)