extends layout

block h
  style(type="text/css"): include ../public/stylesheets/mixitup.css

block topRight
  .row.subheader
    .col-xs-12
      h3.sub(style="margin-top:10px"): a(href='../users/add_user') Add

block mainContent

  //- - var test_sort = function(companies) {
  //- //- -   console.log('BEFORE:');
  //- //- -   for(var i = 0; i < companies.length; i++) {
  //- //- -     console.log('%d  %s', i, companies[i].username);
  //- //- -   }
  //- -   companies.sort(function(a,b){
  //- -     if (a.username.toLowerCase() > b.username.toLowerCase())  return 1;
  //- -     if (a.username.toLowerCase() < b.username.toLowerCase())  return -1;
  //- -     if (a.username.toLowerCase() == b.username.toLowerCase()) return 0;
  //- -   });
  //- //- -   console.log('AFTER:');
  //- //- -   for(var i = 0; i < companies.length; i++) {
  //- //- -     console.log('%d  %s', i, companies[i].username);
  //- //- -   }
  //- -   return companies;
  //- - }

  //- - var sorted = test_sort(companies)
  //- - var extra = 4 - (companies.length-1)%4
  //- if (companies.length > 1)
  //-   .portfolio-row
  //-     each c, i in sorted
  //-       if (c.username != 'admin')
  //-         if (i%5==0)
  //-           div(style='height:0px; padding:0px; padding:0px')
  //-         .portfolio-card(onclick="window.location = '../users/" + c.username + "'")
  //-           div(style='display:inline')
  //-             if (c.crunchbase_prof.relationships)
  //-               img(src=c.profile.img_path)
  //-             div: a <strong>#{c.username}</strong>
  //-             div: a #{c.init_investmt_date}
  //-     - for (var i = 0; i < extra; i++)
  //-       .portfolio-card-empty


  //- if (companies.length <= 1)
  //-   p.error There are no companies in the network!

  .controls
    h3 Filter:
    
    button.filter(data-filter='all') All
    button.filter(data-filter='.category-1') .category-1
    button.filter(data-filter='.category-2') .category-2
    
    h3 Sort:

    button.sort(data-sort='random') Random
    button.sort(data-sort='name:asc') name:asc
    button.sort(data-sort='name:dec') name:dec

  #Container
    each c, i in companies
      if (c.username != 'admin')
          .mix.category-1(data-name=c.username  onclick="window.location = '../users/" + c.username + "'")
            .v-center-container: .helper: .content.portfolio-card
              if (c.crunchbase_prof.relationships)
                img(src=c.profile.img_path style='max-width:100%; max-height:200px')
              div: a <strong>#{c.username}</strong>
              .small: a #{c.init_investmt_date}
            
  script(type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js')
  script(type='text/javascript' src='http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js')
  //- script(type='text/javascript' src='./jquery-1.11.0.js')
  //- script(type='text/javascript' src='./jquery.mixitup.js')
  script.
    $(function(){
      $('#Container').mixItUp();
    });