extends layouts/portfolio_layout

block content

  //- .row.subheader
    .col-xs-12
      h3: a(href='#').selected Overview
      h3: a(href='#') Financials
      h3: a(href='#') Board Notes
      h3: a(href='#') Communication

  #testpartial
  .row
    .col-md-3.logobox
      .card.text-center.logobox#img
          a(data-toggle="modal" data-target="#edit_company").pull-right#edit.small edit
          .pull-left
            if (p && p.img_path)
              img(src=p.img_path).logo
            else
              .text-left: h5 Add logo
          div
            if (p && p.short_descrip)
              p.quote #{p.short_descrip}
            else  
              p.quote: h5 Add short description
            
      .blank: p
        h4 <strong>Categories:</strong> 
        if (p && p.categories)
          each c,i in p.categories
            if (i !=0)
              | , 
            a #{c.name}
        else
          h5: a add tags

    .col-md-9.pull-left
      .card#about
        a(data-toggle="modal" data-target="#edit_company").pull-right#edit.small edit
        h2 About

        .row
          .col-md-8.right-of-line
              if (p && p.description)
                p #{p.description}
              else
                  h5 Add description
          
          .col-md-4
            .vcenter-content.left-line

              div
                  h4 <strong>Founders:</strong> 
                  if (p && p.founders)
                    each f,i in p.founders
                        if (i !=0)
                          | , 
                        | #{f.name}
                  else
                    h5 Add founders
              
              div(style='height:10px')

              div
                h4 <strong>Founded:</strong> 
                  if (p && p.founded_on)
                    | #{p.founded_on}
                  else
                    h5 Add date
                  br

              div(style='height:10px')                    

              h4 <strong>Funding:</strong> 
              if (p && p.total_funding)
                | $#{p.total_funding.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}
              else
                h5 Add funding info  
              br

              div(style='height:10px')                    

              div
                if (p && p.homepage_url) 
                    a(href=homepage_url)
                      <strong> #{p.homepage_url} </strong>
                else
                    h5 Add homepage url
          br

      .card#milestones
        a(data-toggle="modal" data-target="#edit_company").pull-right#edit.small edit
        h2 Milestones
        p Milestone 1
        p Milestone 2

      .card#team
        a(data-toggle="modal" data-target="#edit_company").pull-right#edit.small edit
        h2 Team
        p Joe Schmo
        p Bilbo Baggins

      .card#test
        a(data-toggle="modal" data-target="#edit_company").pull-right#edit.small edit
        h2 Test
        p "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi  in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
  script.
    (function($){
      $(document).ready(function() {
        // TODO put all of this in users route
        var cards = [  
          { 
            id: '#about',
            header: 'About',
            form: [  
              //- { name: 'username',  type: 'text',  placeholder: 'Company website'  },
              { name: 'description',  type: 'textarea', placeholder: 'description'      },
              { name: 'founders',     type: 'text',     placeholder: 'founders'         },
              { name: 'founded_on',   type: 'text',     placeholder: "founding date",   classes: 'calendar_input',  id: "datepicker" },
              { name: 'Funding',      type: 'text',     placeholder: 'funding (amount)' },
              { name: 'homepage_url', type: 'text',     placeholder: 'company website'  }
            ]
          }, { 
            id: '#milestones',
            header: 'Milestones',
            form: [
              { name: 'milestone',  type: 'textarea', placeholder: 'milestone'      },
            ]
          },  
          { 
            id: '#team',
            header: 'Team',
            form: [  
              { name: 'team',  type: 'textarea', placeholder: 'team' },
            ]
          },  
          { 
            id: '#img',
            header: 'Image',
            form: [  
              { name: 'img_path',          type: 'text',  placeholder: 'image'      },
              { name: 'short_description', type: 'text',  placeholder: 'short description'         },
            ]
          }  
        ];

        var p = !{JSON.stringify(p)};

        for (var i = 0; i < cards.length; i++) {
          (function(i_copy){

            $(cards[i].id).hover( function() { // on hover in...
              $(this).find('#edit').fadeIn('fast');
              //- form_fields = cards[i_copy].form;

              console.log(JSON.stringify(cards[i_copy].form, null, 3));
              $.ajax({
                type: "GET",
                url: "/edit_modal",
                data: { 
                  form_fields: cards[i_copy].form, 
                  header: cards[i_copy].header,
                  username: p.username,
                  p: p
                }
              }).done(function(msg) {
                  //- alert( "Data Saved: " + msg );
                  $('#testpartial').html(msg);
              });

            }, function() {  // on hover out...
              $(this).find('#edit').fadeOut('fast');   
            }
            );

          }(i));
        }
      });
    })(jQuery);