extends layouts/portfolio_layout

block content

  .portfolio-table
    each c, i in companies
      if (c.username != 'admin')

          //- build class(es) to tag each owner
          - var owners_class = ''
          if (c.owners == undefined)
            - owners_class = 'none';
          else
            if (typeof c.owners === 'string')
              - owners_class += c.owners
            else
              each o in c.owners
                - owners_class += o + ' '

          a.mix(class=owners_class  data-name=c.username  href="../portfolio/#{c.permalink}")
            .v-center-container: .v-center-helper: .v-center-content.portfolio-card
              if (c.crunchbase_prof.relationships)
                img(src=c.profile.img_path)
              .name #{c.username}
              .date #{c.init_investmt_date}