extends layouts/portfolio_layout

block content

  .portfolio-controls
    .control-section.pull-left
      div Owner
      button.filter(data-filter='all') All
      button.filter(data-filter='.Joe') Joe
      button.filter(data-filter='.Drew') Drew
      button.filter(data-filter='.Chris') Chris
      button.filter(data-filter='.none') No owner

    .control-section
      div Sort
      button.sort(data-sort='name:asc'): i.fa.fa-sort-alpha-asc
      button.sort(data-sort='name:dec'): i.fa.fa-sort-alpha-desc

    .control-section.pull-right
      div Actions
      a(href='../portfolio/add_user'): button 
        i.fa.fa-plus.fa-right
        | Add

  .portfolio-table
    each c, i in companies
      if (c.username != 'admin')

          //- build class(es) to tag each owner
          - var owners_class = ''
          if (c.owners == undefined)
            - owners_class = 'none';
          else
            if (typeof c.owners === 'string')
              - owners_class += c.owners
            else
              each o in c.owners
                - owners_class += o + ' '

          .mix(class=owners_class  data-name=c.username  onclick="window.location = '../portfolio/" + c.username + "'")
            .v-center-container: .v-center-helper: .v-center-content.portfolio-card
              if (c.crunchbase_prof.relationships)
                img(src=c.profile.img_path style='max-width:100%; max-height:215px')
              .name #{c.username}
              .date #{c.init_investmt_date}