extends layouts/portfolio_layout

block toolbar

  .toolbar-section
    .dropdown#owner-dropdown
      button.dropdown-toggle(type="button", data-toggle="dropdown") Owner
      ul.dropdown-menu
        .dropdown-header Owner
        li.filter(data-filter='all').active All
        li.filter(data-filter='.Joe') Joe
        li.filter(data-filter='.Drew') Drew
        li.filter(data-filter='.Chris') Chris
        li.filter(data-filter='.none') No owner

  .toolbar-section
    .dropdown#order-dropdown
      button.dropdown-toggle(type="button", data-toggle="dropdown") Order
      ul.dropdown-menu
        .dropdown-header Order
        li.sort(data-sort='name:asc').active: i.fa.fa-sort-alpha-asc
        li.sort(data-sort='name:dec'): i.fa.fa-sort-alpha-desc

  .toolbar-section.pull-right
    .toolbar-btn#add-company-btn(data-toggle="modal" data-target="#add-company-form") 
      i.fa.fa-plus.fa-right
      | Add

  .toolbar-separator.pull-right

  .toolbar-section.pull-right
    .toolbar-switch.active#layout-grid-btn
      i.fa.fa-th-large 
    .toolbar-switch#layout-list-btn
      i.fa.fa-align-justify

block content
  .portfolio-table
    each c, i in companies
      if (c.username != 'admin')

          //- build class(es) to tag each owner
          - var owners_class = ''
          if (c.owners == undefined)
            - owners_class = 'none';
          else
            if (typeof c.owners === 'string')
              - owners_class += c.owners
            else
              each o in c.owners
                - owners_class += o + ' '

          a.mix(class=owners_class  data-name=c.username  href="../portfolio/#{c.permalink}")
            if (c.crunchbase_prof.relationships)

            .card-header
              if(c.profile != undefined)
                img(src=c.profile.img_path)

            .card-body
              div.hidden-on-grid
                .small-label Name
                .card-info #{c.username}
              div
                .small-label Cash
                .card-info $5,000,000
              div
                .small-label Revenue
                .card-info $20,000
              div.hidden-on-grid
                .small-label Days of burn
                .card-info 15 days
              div.hidden-on-grid
                .small-label Total funding
                .card-info $1000