extends layouts/portfolio_layout

block toolbar

  .toolbar-section
    .dropdown 
      button.dropdown-toggle(type="button", data-toggle="dropdown") Owner
      ul.dropdown-menu
        li.filter(data-filter='all') All
        li.filter(data-filter='.Joe') Joe
        li.filter(data-filter='.Drew') Drew
        li.filter(data-filter='.Chris') Chris
        li.filter(data-filter='.none') No owner

  .toolbar-section
    .dropdown 
      button.dropdown-toggle(type="button", data-toggle="dropdown") Sort
      ul.dropdown-menu
        li.filter(data-sort='name:asc'): i.fa.fa-sort-alpha-asc
        li.filter(data-sort='name:dec'): i.fa.fa-sort-alpha-desc

  .toolbar-section.pull-right
    .toolbar-btn#add-company-btn(data-toggle="modal" data-target="#add-company-form") 
      i.fa.fa-plus.fa-right
      | Add

block content
  .portfolio-table
    each c, i in companies
      if (c.username != 'admin')

          //- build class(es) to tag each owner
          - var owners_class = ''
          if (c.owners == undefined)
            - owners_class = 'none';
          else
            if (typeof c.owners === 'string')
              - owners_class += c.owners
            else
              each o in c.owners
                - owners_class += o + ' '

          a.mix(class=owners_class  data-name=c.username  href="../portfolio/#{c.permalink}")
            .v-center-container: .v-center-helper: .v-center-content.portfolio-card
              if (c.crunchbase_prof.relationships)

              .card-header
                if(c.profile != undefined)
                  img(src=c.profile.img_path)
                //- #{c.username}

              .card-body
                div
                  .small-label Cash
                  .card-info $5,000,000
                div
                  .small-label Revenue
                  .card-info $20,000