mixin block_control(name, id1, id2)
  .block-control
    input(type="radio", name=name, id=id1, value="bar", checked)
    label(for=id1) Bar
    input(type="radio", name=name, id=id2, value="area")
    label(for=id2) Area