.tab-pane#economics
  .col-md-12.pane-header
    include quarter_info.jade

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-economics")
      i.fa.fa-pencil.fa-right
      | edit all

  .col-md-3
    h3 LTV

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-economics-ltv")
      i.fa.fa-pencil

    .block-info.block-num
      if economics.ltv.length > 0
        | #{usd(economics.ltv[0].value)}
      else
        | Add

  .col-md-9
    h3 LTV By Quarter

    .block-info Graph

  .col-md-3
    h3 Lifetime Est.

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-economics-lifetime-est")
      i.fa.fa-pencil

    .block-info.block-num
      if economics.lifetime_est.length > 0
        | #{usd(economics.lifetime_est[0].value)}
      else
        | Add

  .col-md-9
    h3 Lifetime Est. By Quarter

    .block-info Graph

  .col-md-3
    h3 CAC

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-economics-cac")
      i.fa.fa-pencil

    .block-info.block-num
      if economics.cac.length > 0
        | #{usd(economics.cac[0].value)}
      else
        | Add

  .col-md-9
    h3 CAC By Quarter

    .block-info Graph

  .col-md-3
    h3 ASP

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-economics-asp")
      i.fa.fa-pencil

    .block-info.block-num
      if economics.asp.length > 0
        | #{usd(economics.asp[0].value)}
      else
        | Add

  .col-md-9
    h3 ASP By Quarter

    .block-info Graph

  .col-md-3
    h3 GM %

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-economics-gm")
      i.fa.fa-pencil

    .block-info.block-num
      if economics.gm_percentage.length > 0
        | #{economics.gm_percentage[0].value}%
      else
        | Add

  .col-md-9
    h3 GM % By Quarter

    .block-info Graph