.tab-pane.row.graph-pane#economics

  .col-md-12.pane-header
    include quarter_info.jade

  .row.bottom-line
    script(type="text/javascript").
      var ltv_data = !{JSON.stringify(economics.ltv)};

    .col-md-2:  +data_list("LTV", "economics-ltv", economics.ltv)
    .col-md-10: +data_graph("LTV by Quarter", "ltv", economics.ltv.length, true, false)

  .row.bottom-line
    script(type="text/javascript").
      var lifetime_est_data = !{JSON.stringify(economics.lifetime_est)};

    .col-md-2:  +data_list("Lifetime Est.", "economics-lifetime-est", economics.lifetime_est)
    .col-md-10: +data_graph("Lifetime Est. by Quarter", "lifetimeEst", economics.lifetime_est.length, true, false)


  .row.bottom-line
    script(type="text/javascript").
      var cac_data = !{JSON.stringify(economics.cac)};

    .col-md-2:  +data_list("CAC", "economics-cac", economics.cac)
    .col-md-10: +data_graph("CAC by Quarter", "cac", economics.cac.length, true, false)


  .row.bottom-line
    script(type="text/javascript").
      var asp_data = !{JSON.stringify(economics.asp)};

    .col-md-2:  +data_list("ASP", "economics-asp", economics.asp)
    .col-md-10: +data_graph("ASP by Quarter", "asp", economics.asp.length, true, false)


  .row.bottom-line
    script(type="text/javascript").
      var gm_percentage_data = !{JSON.stringify(economics.gm_percentage)};

    .col-md-2:  +data_list("GM %", "economics-gm", economics.gm_percentage)
    .col-md-10: +data_graph("GM % by Quarter", "gmPercentage", economics.gm_percentage.length, true, false)
