.max-width

  //- Edit
  .company-header-edit.edit-btn(data-toggle="modal" data-target="#edit-header") 
    i.fa.fa-pencil.fa-right
    | edit

  .company-header-info

    //- Company logo
    .company-logo
      if (p && p.img_path)
        img(src=p.img_path)
      else
        img(src='../assets/images/placeholder.png' style='width:100%')

    .company-header-text
      //- Company name
      h1.company-name
        if (name)
          | #{name}
        else
          | Add name

      //- Company description
      .company-description
        if (p && p.short_descrip)
          | #{p.short_descrip}
        else
          | Add description

      .company-website
        if (p && p.homepage_url)
          a(href="http://" + "#{p.homepage_url}") #{p.homepage_url}
        else
          | Add homepage url 