.tab-pane.row.graph-pane#operational
  .col-md-12.pane-header
    include quarter_info.jade

  .col-md-3
    h3 Forecasted Gross Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-pred-gross-burn")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(operational.pred_gross_burn)
        for data in operational.pred_gross_burn.sort(chronological).reverse()
          .table-section
            .value #{usd(data.value)}
            .date Q#{moment(data.date).quarter()} #{moment(data.date).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-operational-pred-gross-burn")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-3
    h3 Gross Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-gross-burn")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(operational.gross_burn)
        for data in operational.gross_burn.sort(chronological).reverse()
          .table-section
            .value #{usd(data.value)}
            .date Q#{moment(data.date).quarter()} #{moment(data.date).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-operational-gross-burn")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-6
    h3 Gross Burn By Quarter

    +block_control("grossBurnGraph", "grossBurnBar", "grossBurnArea")

    //- Grab the data
    script(type="text/javascript").
      var pred_gross_burn_data = !{JSON.stringify(operational.pred_gross_burn)},
          gross_burn_data = !{JSON.stringify(operational.gross_burn)};
    .block-info.block-graph:.graph-padding#grossBurnGraph

  .col-md-3
    h3 Forecasted Net Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-pred-net-burn")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(operational.pred_net_burn)
        for data in operational.pred_net_burn.sort(chronological).reverse()
          .table-section
            .value #{usd(data.value)}
            .date Q#{moment(data.date).quarter()} #{moment(data.date).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-operational-pred-net-burn")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-3
    h3 Net Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-net-burn")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(operational.net_burn)
        for data in operational.net_burn.sort(chronological).reverse()
          .table-section
            .value #{usd(data.value)}
            .date Q#{moment(data.date).quarter()} #{moment(data.date).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-operational-net-burn")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-6
    h3 Net Burn By Quarter

    +block_control("netBurnGraph", "netBurnBar", "netBurnArea")

    //- Grab the data
    script(type="text/javascript").
      var pred_net_burn_data = !{JSON.stringify(operational.pred_net_burn)},
          net_burn_data = !{JSON.stringify(operational.net_burn)};
    .block-info.block-graph:.graph-padding#netBurnGraph

  .col-md-3
    h3 Revenue

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-revenue")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(operational.revenue)
        for data in operational.revenue.sort(chronological).reverse()
          .table-section
            .value #{usd(data.value)}
            .date Q#{moment(data.date).quarter()} #{moment(data.date).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-operational-revenue")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-9
    h3 Revenue By Quarter

    +block_control("revenueGraph", "revenueBar", "revenueArea")

    //- Grab the data
    script(type="text/javascript").
      var revenue_data = !{JSON.stringify(operational.revenue)};
    .block-info.block-graph:.graph-padding#revenueGraph

  .col-md-3
    h3 Head Count

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-head-count")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(operational.head_count)
        for data in operational.head_count.sort(chronological).reverse()
          .table-section
            .value #{data.value}
            .date Q#{moment(data.date).quarter()} #{moment(data.date).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-operational-head-count")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-9
    h3 Head Count By Quarter

    +block_control("headCountGraph", "headCountBar", "headCountArea")

    //- Grab the data
    script(type="text/javascript").
      var head_count_data = !{JSON.stringify(operational.head_count)};
    .block-info.block-graph:.graph-padding#headCountGraph