script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")


.tab-pane.row.graph-pane#operational
  .col-md-12.pane-header
    include quarter_info.jade


  //- CASH BY QUARTER (cash)
  .row.bottom-line
    script(type="text/javascript").
      var cash_data = !{JSON.stringify(operational.cash)};

    .col-md-2:  +data_list("Cash", "operational-cash", operational.cash)
    .col-md-10: +data_graph("Cash by Quarter", "cash", operational.cash.length, false, true)


  //- GROSS BURN BY QUARTER (pred_gross_burn + gross_burn)
  .row.bottom-line
    script(type="text/javascript").
      var pred_gross_burn_data = !{JSON.stringify(operational.pred_gross_burn)},
          gross_burn_data = !{JSON.stringify(operational.gross_burn)};

    .col-md-2: +data_list("Forecasted Gross Burn", "operational-pred-gross-burn", operational.pred_gross_burn)
    .col-md-2: +data_list("Gross Burn", "operational-gross-burn", operational.gross_burn)
    .col-md-8: +data_graph("Gross Burn by Quarter", "grossBurn", operational.pred_gross_burn.length + operational.gross_burn.length, true, false)


  //- NET BURN BY QUARTER (pred_net_burn + net_burn)
  .row.bottom-line
    script(type="text/javascript").
      var pred_net_burn_data = !{JSON.stringify(operational.pred_net_burn)},
          net_burn_data = !{JSON.stringify(operational.net_burn)};

    .col-md-2: +data_list("Forecasted Net Burn", "operational-pred-net-burn", operational.pred_net_burn)
    .col-md-2: +data_list("Net Burn", "operational-net-burn", operational.net_burn)
    .col-md-8: +data_graph("Net Burn by Quarter", "netBurn", operational.pred_net_burn.length + operational.net_burn.length, true, false)


  //- REVENUE BY QUARTER (revenue)
  .row.bottom-line
    script(type="text/javascript").
      var revenue_data = !{JSON.stringify(operational.revenue)};

    .col-md-2:  +data_list("Revenue", "operational-revenue", operational.revenue)
    .col-md-10: +data_graph("Revenue by Quarter", "revenue", operational.revenue.length, true, false)

  //- HEAD COUNT (head_count)
  .row.bottom-line 
    script(type="text/javascript").
      var head_count_data = !{JSON.stringify(operational.head_count)};

    .col-md-2:  +data_list("Head Count", "operational-head-count", operational.head_count)
    .col-md-10: +data_graph("Head Count by Quarter", "headCount", operational.head_count.length, true, false)