.tab-pane.row.graph-pane#operational
  .col-md-12.pane-header
    include quarter_info.jade

  .col-md-3
    h3 Gross Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-gross-burn")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(operational.gross_burn)
        for data in operational.gross_burn.sort(chronological).reverse()
          .table-section
            .value #{usd(data.value)}
            .quarter Q#{moment(data.quarter).quarter()} #{moment(data.quarter).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-metric")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-3
    h3 Net Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-net-burn")
      i.fa.fa-plus

    .block-info.block-num
      if dataEntered(operational.net_burn)
        | #{usd(operational.net_burn[0].value)}
      else
        | Add

  .col-md-6
    h3 Burn By Quarter

    //- Grab the data
    script(type="text/javascript").
      var gross_burn_data = !{JSON.stringify(operational.gross_burn)},
          net_burn_data = !{JSON.stringify(operational.net_burn)};
    .block-info.block-graph:.graph-padding#burnGraph

  .col-md-3
    h3 Revenue

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-revenue")
      i.fa.fa-plus

    .block-info.block-num
      if dataEntered(operational.revenue)
        | #{usd(operational.revenue[0].value)}
      else
        | Add 

  .col-md-9
    h3 Revenue By Quarter

    //- Grab the data
    script(type="text/javascript").
      var revenue_data = !{JSON.stringify(operational.revenue)};
    .block-info.block-graph:.graph-padding#revenueGraph

  .col-md-3
    h3 Head Count

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-head-count")
      i.fa.fa-plus

    .block-info.block-num
      if dataEntered(operational.head_count)
        | #{operational.head_count[0].value}
      else
        | Add

  .col-md-9
    h3 Head Count By Quarter

    //- Grab the data
    script(type="text/javascript").
      var head_count_data = !{JSON.stringify(operational.head_count)};
    .block-info.block-graph:.graph-padding#headCountGraph