- function dataEntered(data) {
-   return data.length !== 0 &&
-          moment(data[0].timestamp).quarter() === moment().quarter() &&
-          moment(data[0].timestamp).year() === moment.year();
- }


.tab-pane#operational
  .col-md-12.pane-header
    include quarter_info.jade

    if dataEntered(operational.gross_burn) || dataEntered(operational.net_burn) || dataEntered(operational.revenue) || dataEntered(operational.head_count)
      .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational")
        i.fa.fa-pencil.fa-right
        | edit all
    else
      .block-edit.edit-btn(data-toggle="modal" data-target="#add-operational")
        i.fa.fa-plus.fa-right
        | add all

  .col-md-3
    h3 Gross Burn

    if dataEntered(operational.gross_burn)
      .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-gross-burn")
        i.fa.fa-pencil
    else
      .block-edit.edit-btn(data-toggle="modal" data-target="#add-operational-gross-burn")
        i.fa.fa-plus

    .block-info.block-num
      if dataEntered(operational.gross_burn)
        | #{usd(operational.gross_burn[0].value)}
      else
        | Add

  .col-md-3
    h3 Net Burn

    if dataEntered(operational.net_burn)
      .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-net-burn")
        i.fa.fa-pencil
    else
      .block-edit.edit-btn(data-toggle="modal" data-target="#add-operational-net-burn")
        i.fa.fa-plus

    .block-info.block-num
      if dataEntered(operational.net_burn)
        | #{usd(operational.net_burn[0].value)}
      else
        | Add

  .col-md-6
    h3 Burn By Quarter

    //- Grab the data
    script(type="text/javascript").
      var gross_burn_data = !{JSON.stringify(operational.gross_burn)},
          net_burn_data = !{JSON.stringify(operational.net_burn)};
    .block-info.block-graph:.graph-padding#burnGraph

  .col-md-3
    h3 Revenue

    if dataEntered(operational.revenue)
      .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-revenue")
        i.fa.fa-pencil
    else
      .block-edit.edit-btn(data-toggle="modal" data-target="#add-operational-revenue")
        i.fa.fa-plus

    .block-info.block-num
      if dataEntered(operational.revenue)
        | #{usd(operational.revenue[0].value)}
      else
        | Add 

  .col-md-9
    h3 Revenue By Quarter

    //- Grab the data
    script(type="text/javascript").
      var revenue_data = !{JSON.stringify(operational.revenue)};
    .block-info.block-graph:.graph-padding#revenueGraph

  .col-md-3
    h3 Head Count

    if dataEntered(operational.head_count)
      .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-head-count")
        i.fa.fa-pencil
    else
      .block-edit.edit-btn(data-toggle="modal" data-target="#add-operational-head-count")
        i.fa.fa-plus

    .block-info.block-num
      if dataEntered(operational.head_count)
        | #{operational.head_count[0].value}
      else
        | Add

  .col-md-9
    h3 Head Count By Quarter

    //- Grab the data
    script(type="text/javascript").
      var head_count_data = !{JSON.stringify(operational.head_count)};
    .block-info.block-graph:.graph-padding#headCountGraph