.tab-pane.active#overview
  .col-md-6
    h3 About

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-about")
      i.fa.fa-pencil

    .block-info
      if (p && p.description)
        div 
          | #{p.description}
          a(href="http://www.crunchbase.com/organization/#{permalink}") read more on Crunchbase
      else
        div Add description

  .col-md-6
    h3 Info

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-info")
      i.fa.fa-pencil

    .block-info

      if (p && p.categories)
        h4 Categories
        div #{p.categories}
      else
        div Add categories

      if (p && p.founders)
        h4 Founders
        div #{p.founders}
      else
        div Add founders

      if (p && p.founded_on)
        h4 Founding Date
        div #{p.founded_on}
      else
        div Add date

      if (p && p.total_funding)
        h4 Total Funding
        div $#{p.total_funding}
      else
        div Add funding info

  .col-md-6
    h3 Milestones

    .block-edit.edit-btn.edit-disabled(data-toggle="modal" data-target="")
      i.fa.fa-pencil

    .block-info
      | N/A

  .col-md-6
    h3 Team

    .block-edit.edit-btn.edit-disabled(data-toggle="modal" data-target="#")
      i.fa.fa-pencil

    .block-info
      | N/A