
-  /* Function to shorten description */
-  function shorten(description) {
-    // Description char limit
-    var limit = 600;
-    // Return shortened description with ellipsis
-    return description.substring(0, limit) + '... ';
-  }


-  function chronological(a, b) {
-    if (a.date && b.date)    return (a.date - b.date);
-    else                     return 0;
- }


.tab-pane.active#overview
  //- ABOUT
  .col-md-6
    h3 About

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-about")
      i.fa.fa-pencil

    .block-info
      if (p && p.description)
        div 
          | #{shorten(p.description)}
          a(href="http://www.crunchbase.com/organization/#{permalink}") read more on Crunchbase
      else
        div Add description

  //- INFO
  .col-md-6
    h3 Info

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-info")
      i.fa.fa-pencil

    .block-info

      if (p && p.categories)
        h4 Categories
        div #{p.categories}
      else
        div Add categories

      if (p && p.founders)
        h4 Founders
        div #{p.founders}
      else
        div Add founders

      if (p && p.founded_on)
        h4 Founding Date
        div #{p.founded_on}
      else
        div Add date

      if (p && p.total_funding)
        h4 Total Funding
        div $#{p.total_funding}
      else
        div Add funding info

  //- MILESTONES
  .col-md-6
    h3 Milestones

    .block-edit(data-toggle="modal" data-target="#add-milestone")
      i.fa.fa-plus.fa-right
      | Add milestone

    .block-info
      ul.milestone-list
        //- TODO sort by date (most recent first)
        for m in c.milestones.sort(chronological).reverse()
          li.milestone
            .milestone-info
              .title #{m.title}
              .date #{moment(m.date).format('DD MMMM YYYY')}
              .description #{m.description}
            a.milestone-edit.edit-btn(data-toggle="modal" data-target="#edit-milestone" id='edit-'+m._id)
              i.fa.fa-pencil



    script.
      window.onload = function() {
        var milestones = !{JSON.stringify(c.milestones)};

        for (var i = 0; i < milestones.length; i++) {
          /* Iterate through milestones' edit btns: onclick, the form is
           * populated with that owner's info */
          (function(n) { // variable binding
            var m = milestones[i];
            $('#edit-'+m._id).click(function() {
              $('#title').val(m.title);
              $('#date').val(moment(m.date).format('DD MMMM YYYY'));
              $('#description').val(m.description);
              $('#_id').val(m._id);
            });
          }(i)) // end of variable binding
        }
      };

  //- TEAM
  .col-md-6
    h3 Team

    .block-edit(data-toggle="modal" data-target="#add-team-member")
      i.fa.fa-plus.fa-right
      | Add team member

    .block-info
      ul.team-list
        //- TODO sort by date (most recent first)
        for m in c.team.sort(chronological).reverse()
          li.milestone
            .team-member-info
              if m.img_path
                .pull-left: img(src=m.img_path)
              .pull-left
                .full_name #{m.full_name}
                .role #{m.role}
                .date_joined Joined #{moment(m.date_joined).format('DD MMMM YYYY')}
                .email: a(href='mailto:'+m.email) #{m.email}
              a.team-member-edit.edit-btn(data-toggle="modal" data-target="#edit-milestone" id='edit-'+m._id)
                i.fa.fa-pencil



