.tab-pane.row.graph-pane#user
  .col-md-12.pane-header
    include quarter_info.jade

  .col-md-3
    h3 AVG DAU

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-dau")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(user_metrics.avg_dau)
        for data in user_metrics.avg_dau.sort(chronological)
          .table-section
            .value #{usd(data.value)}
            .date Q#{moment(data.date).quarter()} #{moment(data.date).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-user-dau")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-9
    h3 AVG DAU By Quarter

    //- Grab the data
    script(type="text/javascript").
      var avg_dau_data = !{JSON.stringify(user_metrics.avg_dau)};
    .block-info.block-graph:.graph-padding#avgDauGraph

  .col-md-3
    h3 AVG MAU

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-mau")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(user_metrics.avg_mau)
        for data in user_metrics.avg_mau.sort(chronological)
          .table-section
            .value #{usd(data.value)}
            .date Q#{moment(data.date).quarter()} #{moment(data.date).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-user-mau")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-9
    h3 AVG MAU By Quarter

    //- Grab the data
    script(type="text/javascript").
      var avg_mau_data = !{JSON.stringify(user_metrics.avg_mau)};
    .block-info.block-graph:.graph-padding#avgMauGraph

  .col-md-3
    h3 Churn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-churn")
      i.fa.fa-plus

    .block-info.block-table
      if dataEntered(user_metrics.churn)
        for data in user_metrics.churn.sort(chronological)
          .table-section
            .value #{data.value}
            .date Q#{moment(data.date).quarter()} #{moment(data.date).year()}
            .edit-btn(data-toggle="modal" data-target="#edit-user-churn")
              i.fa.fa-pencil
      else
        | Add data

  .col-md-9
    h3 Churn By Quarter

    //- Grab the data
    script(type="text/javascript").
      var churn_data = !{JSON.stringify(user_metrics.churn)};
    .block-info.block-graph:.graph-padding#churnGraph