.tab-pane#user
  .col-md-12.pane-header
    include quarter_info.jade

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user")
      if dataEntered(user_metrics.avg_dau) || dataEntered(user_metrics.avg_mau) || dataEntered(user_metrics.churn)
        i.fa.fa-pencil.fa-right
        | edit all
      else
        i.fa.fa-plus.fa-right
        | add all

  .col-md-3
    h3 AVG DAU

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-dau")
      if dataEntered(user_metrics.avg_dau)
        i.fa.fa-pencil
      else
        i.fa.fa-plus

    .block-info.block-num
      if dataEntered(user_metrics.avg_dau)
        | #{user_metrics.avg_dau[0].value}
      else
        | Add

  .col-md-9
    h3 AVG DAU By Quarter

    //- Grab the data
    script(type="text/javascript").
      var avg_dau_data = !{JSON.stringify(user_metrics.avg_dau)};
    .block-info.block-graph:.graph-padding#avgDauGraph

  .col-md-3
    h3 AVG MAU

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-mau")
      if dataEntered(user_metrics.avg_mau)
        i.fa.fa-pencil
      else
        i.fa.fa-plus

    .block-info.block-num
      if dataEntered(user_metrics.avg_mau)
        | #{user_metrics.avg_mau[0].value}
      else
        | Add

  .col-md-9
    h3 AVG MAU By Quarter

    //- Grab the data
    script(type="text/javascript").
      var avg_mau_data = !{JSON.stringify(user_metrics.avg_mau)};
    .block-info.block-graph:.graph-padding#avgMauGraph

  .col-md-3
    h3 Churn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-churn")
      if dataEntered(user_metrics.churn)
        i.fa.fa-pencil
      else
        i.fa.fa-plus

    .block-info.block-num
      if dataEntered(user_metrics.churn)
        | #{user_metrics.churn[0].value}
      else
        | Add

  .col-md-9
    h3 Churn By Quarter

    //- Grab the data
    script(type="text/javascript").
      var churn_data = !{JSON.stringify(user_metrics.churn)};
    .block-info.block-graph:.graph-padding#churnGraph